@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-linear-fade {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FEFEFE;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A09B90;
}
